@font-face {
  font-family: 'webmaster-mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/wwwjim-mono.woff') format('woff');
}

@font-face {
  font-family: 'clemente-rotunda-regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/clemente-rotunda-regular.woff2') format('woff2');
}



@font-face {
  font-family: 'BradfordMonoLL';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/BradfordMonoLL-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Ogg-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Ogg-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Ogg-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Ogg-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Ogg-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Ogg-MediumItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Ogg-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Ogg-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Ogg-Thin.otf') format('otf');
}
@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Ogg-ThinItalic.otf') format('otf');
}
